workflows/startraining_canva_workflow_v1.1.json
{
  "name": "StarTraining Pipeline with Canva",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1ggqu326-4x_YghpkjTsrg9_AVKpr92Qt",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "cfd567a0-ac47-444d-ae9c-19fe99ff976a",
      "name": "1. New File in Drive",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        -400
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "67hLRhkaqtIvEMhb",
          "name": "Google Drive account"
        }
      },
      "notes": "Watches your Raw folder for new .docx files"
    },
    {
      "parameters": {
        "jsCode": "// Extract monday_date and source_label from filename\n// Expected format: 20250908_semana 1 CICLO 7 startrainingbox.docx\n\nconst fileName = $input.first().json.name;\nconst name = fileName.replace('.docx', '').replace('.odt', '');\n\n// Extract date (first 8 digits)\nconst dateMatch = name.match(/^(\\d{8})_(.+)$/);\nif (!dateMatch) {\n  throw new Error(`Invalid filename format: ${fileName}. Expected: YYYYMMDD_semana X CICLO Y...`);\n}\n\nconst mondayDate = dateMatch[1];\nconst rest = dateMatch[2];\n\n// Extract semana and ciclo\nconst labelMatch = rest.match(/[sS]emana\\s+(\\d+)\\s+[cC]ICLO\\s+(\\d+)/i);\nlet sourceLabel;\n\nif (labelMatch) {\n  sourceLabel = `Semana_${labelMatch[1]}_Ciclo_${labelMatch[2]}`;\n} else {\n  sourceLabel = rest.replace(/\\s+/g, '_');\n}\n\nreturn [{\n  json: {\n    fileName: fileName,\n    fileId: $input.first().json.id,\n    mondayDate: mondayDate,\n    sourceLabel: sourceLabel\n  }\n}];"
      },
      "id": "2680138d-b69d-4694-865a-bbabeafdedf3",
      "name": "2. Extract Info from Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        -400
      ],
      "notes": "Parses the filename to get date and week label"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5001/run-single",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file_name\": \"{{ $json.fileName }}\"\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "be7392cf-3023-4f48-b6ac-98a1b7a98cbb",
      "name": "3. Run Python Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        -400
      ],
      "notes": "Calls your webhook_server.py to run Agents A→B→C→D"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "93453b91-a986-427b-b91e-294d70117a3a",
      "name": "4. Pipeline Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        -400
      ],
      "notes": "Checks if the Python pipeline ran successfully"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/autofills",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"brand_template_id\": \"EAG9R2WwCkE\",\n  \"data\": {\n    \"DAY\": { \"type\": \"text\", \"text\": \"{{ $json.DAY }}\" },\n    \"DATE\": { \"type\": \"text\", \"text\": \"{{ $json.DATE }}\" },\n    \"SOURCE\": { \"type\": \"text\", \"text\": \"{{ $json.SOURCE }}\" },\n    \"Body\": { \"type\": \"text\", \"text\": \"{{ $json.Body }}\" }\n  }\n}\n",
        "options": {}
      },
      "id": "45e016ab-1c00-4672-8185-417b0cb7fe3c",
      "name": "5. Create Canva Design",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        -688
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "GCjyzaxXz05tKHq6",
          "name": "Unnamed credential"
        }
      },
      "notes": "Uses Canva Autofill API to create design from template"
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "e93748d9-ff44-454b-a215-6c76de9d9ed8",
      "name": "6. Wait for Render",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        688,
        -688
      ],
      "webhookId": "449f20c1-355b-429f-9099-f46c4e978668",
      "notes": "Gives Canva time to process the design"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.canva.com/rest/v1/designs/{{ $('5. Create Canva Design').item.json.job.result.design.id }}/exports",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"format_type\": \"png\"\n}",
        "options": {}
      },
      "id": "56d16247-f2c1-480b-95b4-714eb38c857b",
      "name": "7. Export Design",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        -688
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "GCjyzaxXz05tKHq6",
          "name": "Unnamed credential"
        }
      },
      "notes": "Requests PNG export from Canva"
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "09c19684-9322-4b3e-ae87-c0f4bfdfd06e",
      "name": "8. Wait for Export",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1136,
        -688
      ],
      "webhookId": "f42b9591-9fd8-4a86-be32-4c2bb05482fa",
      "notes": "Gives Canva time to generate the PNG"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/exports/{{ $('7. Export Design').item.json.job.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "e31be058-6af2-4231-ba73-62e065ee3949",
      "name": "9. Get Export URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        -592
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "GCjyzaxXz05tKHq6",
          "name": "Unnamed credential"
        }
      },
      "notes": "Gets the download URL for the exported PNG"
    },
    {
      "parameters": {
        "content": "## ⚠️ Pipeline Failed\n\nThe Python pipeline returned an error.\n\n**Check:**\n1. Is webhook_server.py running?\n2. Is ngrok/your server accessible?\n3. Check the pipeline logs",
        "height": 180,
        "width": 280
      },
      "id": "16964129-86a4-4e7b-ac54-4ca2084d384a",
      "name": "Error Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        400
      ]
    },
    {
      "parameters": {},
      "id": "55c36fec-b412-496b-a1ff-c3a7d8a1b421",
      "name": "❌ Pipeline Failed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        16,
        -328
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ false }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        -520
      ],
      "id": "10d0540f-4fdf-44ef-8169-1481941cba26",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Extract canva_data array from webhook response\nconst canvaData = $input.first().json.canva_data;\n\n// Remap field names to match Canva template element names\n// CSV columns -> Template elements:\n// Day -> DAY, Date -> DATE, Source -> SOURCE, Exercise -> Body\nreturn canvaData.map(day => ({\n  json: {\n    DAY: day.Day,\n    DATE: day.Date,\n    SOURCE: day.Source,\n    Body: day.Exercise\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -520
      ],
      "id": "a4ae34ad-502b-4ba1-aa82-a0e021d5823e",
      "name": "Update the Canva Design"
    },
    {
      "parameters": {
        "jsCode": "// Get all items from the Get Export URL node across all loop iterations\nconst allExports = $items('9. Get Export URL');\n\n// Extract the download URLs\nconst downloads = allExports.map((item, index) => ({\n  url: item.json.job?.result?.urls?.[0] || '',\n  filename: `workout_day_${index + 1}.png`,\n  day: item.json.DAY || `Day ${index + 1}`\n}));\n\nreturn downloads.map(d => ({ json: d }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -496
      ],
      "id": "e61cd12c-aa6c-49f5-be4a-21398cc172e5",
      "name": "10. Collect Export URLs"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        -496
      ],
      "id": "77b4517a-ec9b-416f-8610-9e5c483d9a79",
      "name": "11. HTTP Request"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        912,
        -496
      ],
      "id": "e507119f-c301-445f-ad08-98070578cdb9",
      "name": "12. Aggregate"
    },
    {
      "parameters": {
        "sendTo": "rjaumecatany@gmail.com",
        "subject": "==Workout Week: {{ $('3. Run Python Pipeline').first().json.source_label }}\n",
        "emailType": "text",
        "message": "==Workout designs for {{ $('3. Run Python Pipeline').first().json.source_label }} have been created.\n",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1136,
        -496
      ],
      "id": "9be53439-d869-44fd-add6-2aa3776e1bca",
      "name": "13. Send a message",
      "webhookId": "3a24e0d5-7c2b-4fbd-9d1e-24f6e366463d",
      "credentials": {
        "gmailOAuth2": {
          "id": "zzqbKtYfTG2b9jNE",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "1. New File in Drive": {
      "main": [
        [
          {
            "node": "2. Extract Info from Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Extract Info from Filename": {
      "main": [
        [
          {
            "node": "3. Run Python Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Run Python Pipeline": {
      "main": [
        [
          {
            "node": "4. Pipeline Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Pipeline Success?": {
      "main": [
        [
          {
            "node": "Update the Canva Design",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Pipeline Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Create Canva Design": {
      "main": [
        [
          {
            "node": "6. Wait for Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Wait for Render": {
      "main": [
        [
          {
            "node": "7. Export Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Export Design": {
      "main": [
        [
          {
            "node": "8. Wait for Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Wait for Export": {
      "main": [
        [
          {
            "node": "9. Get Export URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Get Export URL": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Pipeline Failed": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "5. Create Canva Design",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10. Collect Export URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the Canva Design": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Collect Export URLs": {
      "main": [
        [
          {
            "node": "11. HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. HTTP Request": {
      "main": [
        [
          {
            "node": "12. Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Aggregate": {
      "main": [
        [
          {
            "node": "13. Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "b49a8264-cad2-4eb3-995d-365f31cb84bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96b982c284388ec34a1cbc907541b1e0e47b39d8b6354160a886cb218f8c085d"
  },
  "id": "C7u3mf7UQ9Tnr6EI",
  "tags": [
    {
      "updatedAt": "2025-12-28T17:37:57.159Z",
      "createdAt": "2025-12-28T17:37:57.159Z",
      "id": "C6tzYJCXFnK5Rokj",
      "name": "StarTraining"
    }
  ]
}