workflows/startraining_canva_workflow_v1.1.json
{
  "name": "StarTraining Pipeline with Canva copy 2 (DISTRIBUTION MAIL with LINKS)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1ggqu326-4x_YghpkjTsrg9_AVKpr92Qt",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "2e82d788-0ad5-4ef2-a96f-0088870ca7ac",
      "name": "1. New File in Drive",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "t4FdjPwVFcTrEsYq",
          "name": "Google Drive account"
        }
      },
      "notes": "Watches your Raw folder for new .docx files"
    },
    {
      "parameters": {
        "jsCode": "// Extract monday_date and source_label from filename\n// Expected format: 20250908_semana 1 CICLO 7 startrainingbox.docx\n\nconst fileName = $input.first().json.name;\nconst name = fileName.replace('.docx', '').replace('.odt', '');\n\n// Extract date (first 8 digits)\nconst dateMatch = name.match(/^(\\d{8})_(.+)$/);\nif (!dateMatch) {\n  throw new Error(`Invalid filename format: ${fileName}. Expected: YYYYMMDD_semana X CICLO Y...`);\n}\n\nconst mondayDate = dateMatch[1];\nconst rest = dateMatch[2];\n\n// Extract semana and ciclo\nconst labelMatch = rest.match(/[sS]emana\\s+(\\d+)\\s+[cC]ICLO\\s+(\\d+)/i);\nlet sourceLabel;\n\nif (labelMatch) {\n  sourceLabel = `Semana_${labelMatch[1]}_Ciclo_${labelMatch[2]}`;\n} else {\n  sourceLabel = rest.replace(/\\s+/g, '_');\n}\n\nreturn [{\n  json: {\n    fileName: fileName,\n    fileId: $input.first().json.id,\n    mondayDate: mondayDate,\n    sourceLabel: sourceLabel\n  }\n}];"
      },
      "id": "6653f414-4091-49a5-9ead-14f8d6c61b62",
      "name": "2. Extract Info from Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -160
      ],
      "notes": "Parses the filename to get date and week label"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5001/run-single",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file_name\": \"{{ $json.fileName }}\"\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "7b9f636d-0942-4986-8a26-cf7baae9f20b",
      "name": "3. Run Python Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        -160
      ],
      "notes": "Calls your webhook_server.py to run Agents A→B→C→D"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3de00a50-eaa5-44f1-badd-47e711b4aedb",
      "name": "4. Pipeline Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        32,
        -160
      ],
      "notes": "Checks if the Python pipeline ran successfully"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/autofills",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "b731fe91-d385-4eb6-aff7-f4ecf649c8fc",
      "name": "5. Create Canva Design",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        -256
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "cvOUQ46FuiQ46HhR",
          "name": "Canva connection"
        }
      },
      "notes": "Uses Canva Autofill API to create design from template"
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "b66256e6-8b42-4c75-9877-03126f19216a",
      "name": "6. Wait for Render",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1440,
        -272
      ],
      "webhookId": "c6a5fd0c-e85c-4529-9fb0-c48ec0061ff4",
      "notes": "Gives Canva time to process the design"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.canva.com/rest/v1/exports",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=  {\n    \"design_id\": \"{{ $('6b. Get Autofill Result').item.json.job.result.design.id }}\",\n    \"format\": {\n      \"type\": \"png\"\n    }\n  }",
        "options": {}
      },
      "id": "79d81681-1a76-4b5c-b796-5e50126e3471",
      "name": "7. Export Design",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        -256
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "cvOUQ46FuiQ46HhR",
          "name": "Canva connection"
        }
      },
      "notes": "Requests PNG export from Canva"
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "d0696537-77dd-4a62-a98b-8a616c959d4b",
      "name": "8. Wait for Export",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        -256
      ],
      "webhookId": "d97b92de-abee-4600-80a7-b4260753fb9f",
      "notes": "Gives Canva time to generate the PNG"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/exports/{{ $('7. Export Design').item.json.job.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "3d9bf4cf-c442-4b0e-a9a2-71ed60f5e11c",
      "name": "9. Get Export URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        -256
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "cvOUQ46FuiQ46HhR",
          "name": "Canva connection"
        }
      },
      "notes": "Gets the download URL for the exported PNG"
    },
    {
      "parameters": {
        "content": "## ⚠️ Pipeline Failed\n\nThe Python pipeline returned an error.\n\n**Check:**\n1. Is webhook_server.py running?\n2. Is ngrok/your server accessible?\n3. Check the pipeline logs",
        "height": 180,
        "width": 280
      },
      "id": "eb5caa0e-4aa2-4dae-bd89-bb588066845f",
      "name": "Error Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        208
      ]
    },
    {
      "parameters": {},
      "id": "d52d82b5-ad4e-4537-9666-340de1d01233",
      "name": "❌ Pipeline Failed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        256,
        -96
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ False }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        -288
      ],
      "id": "080094dc-cc05-40a9-b84e-3d989bc00d54",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Get canva_data from the original pipeline response\nconst canvaData = $('3. Run Python Pipeline').first().json.canva_data;\n\n// Remap field names to match Canva template element names\nreturn canvaData.map(day => ({\n  json: {\n    DAY: day.Day,\n    DATE: day.Date,\n    SOURCE: day.Source,\n    Body: day.Exercise\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -288
      ],
      "id": "16f6191d-31b7-4352-99f6-2efd05ee491c",
      "name": "Update the Canva Design"
    },
    {
      "parameters": {
        "url": "={{ $json.job.result.urls[0] }}",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2688,
        -256
      ],
      "id": "3b59d94b-24d7-43ac-8f8c-360c5745c68c",
      "name": "10. HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "rjaumecatany@gmail.com",
        "subject": "==Workout Week: {{ $('3. Run Python Pipeline').first().json.source_label }}\n",
        "emailType": "text",
        "message": "==Workout designs for {{ $('3. Run Python Pipeline').first().json.source_label }} have been created.\n\n📁 Google Drive Folder:\nhttps://drive.google.com/drive/folders/{{ $('Create folder').first().json.id }}\n\nGenerated automatically by StarTraining Pipeline.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1136,
        -448
      ],
      "id": "1b1487a6-f902-45ee-9cf0-d5d6d79e3f57",
      "name": "12. Send a message",
      "webhookId": "d9ae8f12-c5f8-440e-84dd-9904b129fbbe",
      "credentials": {
        "gmailOAuth2": {
          "id": "Px2M0sNq5xDcw6V0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('3. Run Python Pipeline').first().json.monday_date }}_{{ $('3. Run Python Pipeline').first().json.source_label }}_AGENT_D_MAIN\n",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1MdMwxFCiOIFXlcY6aF6hcgPplwXuwJoS",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        256,
        -288
      ],
      "id": "023e3d87-a4ac-45db-bc13-b2566f5c9064",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "t4FdjPwVFcTrEsYq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.DAY }}_{{ $('3. Run Python Pipeline').first().json.monday_date }}.png\n",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create folder').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2912,
        -240
      ],
      "id": "49010c28-5587-4858-95ee-d23069dc6432",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "t4FdjPwVFcTrEsYq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Output the request body as an OBJECT with CORRECT field names\nconst item = $input.first().json;\n\nreturn [{\n  json: {\n    brand_template_id: \"EAG9R2WwCkE\",\n    data: {\n      Day: { type: \"text\", text: String(item.DAY || '') },\n      Date: { type: \"text\", text: String(item.DATE || '') },\n      Source: { type: \"text\", text: String(item.SOURCE || '') },\n      Exercise: { type: \"text\", text: String(item.Body || '') }\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -256
      ],
      "id": "2d538639-8060-457b-a5b3-e03ed763341b",
      "name": "Prepare a Canva Request"
    },
    {
      "parameters": {
        "jsCode": "// Use newer syntax to get all items from Node 9 across loop iterations\nconst allExports = $('9. Get Export URL').all();\n\n// Extract the download URLs\nconst downloads = allExports.map((item, index) => ({\n  url: item.json.job?.result?.urls?.[0] || '',\n  filename: `workout_day_${index + 1}.png`,\n  day: item.json.DAY || `Day ${index + 1}`\n}));\n\nreturn downloads.map(d => ({ json: d }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        144
      ],
      "id": "c721347f-5c2e-4410-985a-9a37eee3b107",
      "name": "10. Collect Export URLs"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/autofills/{{ $('5. Create Canva Design').item.json.job.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1728,
        -272
      ],
      "id": "13669d55-43e7-4f2c-9532-69e4e670a974",
      "name": "6b. Get Autofill Result",
      "credentials": {
        "oAuth2Api": {
          "id": "cvOUQ46FuiQ46HhR",
          "name": "Canva connection"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "1. New File in Drive": {
      "main": [
        [
          {
            "node": "2. Extract Info from Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Extract Info from Filename": {
      "main": [
        [
          {
            "node": "3. Run Python Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Run Python Pipeline": {
      "main": [
        [
          {
            "node": "4. Pipeline Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Pipeline Success?": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Pipeline Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Create Canva Design": {
      "main": [
        [
          {
            "node": "6. Wait for Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Wait for Render": {
      "main": [
        [
          {
            "node": "6b. Get Autofill Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Export Design": {
      "main": [
        [
          {
            "node": "8. Wait for Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Wait for Export": {
      "main": [
        [
          {
            "node": "9. Get Export URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Get Export URL": {
      "main": [
        [
          {
            "node": "10. HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "12. Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare a Canva Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the Canva Design": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Update the Canva Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare a Canva Request": {
      "main": [
        [
          {
            "node": "5. Create Canva Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6b. Get Autofill Result": {
      "main": [
        [
          {
            "node": "7. Export Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dc0d3e2b-c3db-4f05-8013-ee66f338ff70",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33161149248810f836dc45666e43ca5ad11f5db7a2b9eeb37d31e0cce4e80d64"
  },
  "id": "Nv9gVzIHgXemwUgw",
  "tags": [
    {
      "updatedAt": "2026-01-06T16:14:50.141Z",
      "createdAt": "2026-01-06T16:14:50.141Z",
      "id": "AN52JTAVIt5mwzbR",
      "name": "StarTraining"
    }
  ]
}